<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Authentication2SoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="Authentication2SoapBinding1" />
                <binding name="History3SoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="History3SoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://www.unifaunonline.com/ws-extapi2/Authentication2"
                binding="basicHttpBinding" bindingConfiguration="Authentication2SoapBinding"
                contract="UnifaunAuth.Authentication2" name="Authentication2Port" />
            <endpoint address="https://www.unifaunonline.com/ws-extapi2/History3"
                binding="basicHttpBinding" bindingConfiguration="History3SoapBinding"
                contract="UnifaunTrackBackDiscard.History3" name="History3Port" />
        </client>
    </system.serviceModel>
</configuration>